
<section id="show-nodal-site">
  <div class="container">
    <div class="site-container">
      <div class="site-code">
        <label for="code">Site Code:</label>
        <input type="text" class="form-control" id="code" [(ngModel)]='nodalCode'>
      </div>
      <div class="site-name">
        <label for="name">Site Name:</label>
        <input type="text" class=" form-control" id="name" [(ngModel)]="nodalName">
      </div>

    </div>
  </div>



</section>

<section id="insert-cascades">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]='searchCascades' (ngSubmit)="searchForCascadeSite(searchCascades)">
          <div class="row">
            <div class="col-md-6">
              <label for="site-code">Site-Code:</label>
              <input type="text" class="form-control" formControlName="search" id="site-code"
                [value]="searchRecivedSiteCode">
            </div>
            <div class="col-md-6">
              <label for="site-name">Site-Name:</label>
              <input type="text" class="form-control" id="site-name" [value]="searchRecivedSiteName">
            </div>
            <div class="col-md-8">
              <div class="button-cantainer">
                <button class="btn btn-danger" [disabled]='searchCascades.status=="INVALID"'
                  type="submit">Search</button>
                <button class="btn btn-danger" [disabled]='isSearchOk' (click)="displaySearchedCascades()">Add Cascades
                  list</button>
              </div>



            </div>


          </div>

        </form>
      </div>
      <div class="col-md-6">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <td>Site Code</td>
                <td>Site Name</td>
                <td>Cascades</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody *ngIf="isCascadesAvailable">
              <tr *ngFor="let site of cascadesContainer; let i=index">
                <td>{{site.cascade_code}}</td>
                <td>{{site.cascade_name}}</td>
                <td>{{site.count_cascades}}</td>
                <td><button class="btn btn-danger" (click)="deleteSite(i)">Delete</button></td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="!isCascadesAvailable">No Cascades</p>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="!isInsertedToList" (click)="insertCascadesIntoDB()">insert into Database</button>
      </div>
    </div>
  </div>
</section>