<section id="insert-cascades">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-4 col-md-4">
            <label for="code">Site Code:</label>
            <input type="text" class="form-control" id="code" [(ngModel)]='nodalCode'>
          </div>
          <div class="col-8 col-md-4">
            <label for="name">Site Name:</label>
            <input type="text" class=" form-control" id="name" [(ngModel)]="nodalName">
          </div>

          <div class="col-12 ">
            <div class="caption"> <p>Search For Cascades:</p></div>


          </div>

        </div>
        <form [formGroup]='searchCascades' (ngSubmit)="searchForCascadeSite(searchCascades)">

          <div class="row">
            <div class="col-4 col-md-4">
              <label for="site-code">Site-Code:</label>
              <input type="text" class="form-control" formControlName="search" id="site-code"
                [value]="searchRecivedSiteCode">
            </div>
            <div class="col-8 col-md-4">
              <label for="site-name">Site-Name:</label>
              <input type="text" class="form-control" id="site-name" [value]="searchRecivedSiteName">
            </div>



          </div>

          <div class="row">
            <div class="col-6 col-md-4">

              <button class="btn btn-danger mt-2" [disabled]='searchCascades.status=="INVALID"'
                type="submit">Search</button>



            </div>
            <div class="col-6 col-md-4">
              <button class="btn btn-primary mt-2" [disabled]='isSearchOk' (click)="displaySearchedCascades()">Add to
                list</button>


            </div>

          </div>

        </form>
      </div>
      <div class="col-md-6">
        <div *ngIf="isCascadesAvailable" class="table-container table-responsive">
          <table class=" table table-bordered table-hover">
            <thead>
              <tr>
                <th>Site Code</th>
                <th>Site Name</th>
                <th>Cascahes</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="isCascadesAvailable">
              <tr *ngFor="let site of cascadesContainer; let i=index">
                <td>{{site.cascade_code}}</td>
                <td>{{site.cascade_name}}</td>
                <td>{{site.count_cascades}}</td>
                <td><button class="btn btn-danger" (click)="deleteSite(i)">Delete</button></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div *ngIf="!isCascadesAvailable" class="caption2"><p >No Cascades</p></div>

        <button type="button" class="btn btn-primary" [disabled]="!isInsertedToList"
          (click)="insertCascadesIntoDB()">insert into Database</button>
      </div>
    </div>
  </div>
</section>