

#insert-cascades {
  margin-top: 100px;

  .container{
    margin: auto;

    label {
      color: white;
    }
    .caption{
      padding-top: 1rem;
      p{
        color:#ff6600;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
    .caption2{
      p{
        color:white;

      }

    }

   .table-container {


      padding-top: 1rem;
      p {
          color: white;
          font-size: 1rem;
      }
      table {
          thead {
              background-color:#ff6600;

              th {

                  text-align: center;
                  color: white;
              }
          }
          tbody {
              td {

                  text-align: center;
                  color: white;
              }
          }
      }
  }
  }


}
