#table-section {
  margin-top: 200px;

  .container {
    margin: auto;

  .pagination-container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination{
      padding-top: 3rem;
      color: white;
    }



  }

   }
}

#create-site {
  margin-top: 2rem;
  margin-bottom: 2em;

  .container {
    margin: auto;
    .create-btn-cont {

      width: 50%;
      margin: auto;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


@media screen and (max-width: 575px) {
  #table-section {



    .container {

      .pagination-container{
        width: 100%;
        margin: auto;


        .pagination{
          width: 100%;
         

         font-size: .6rem;



        }






      }
    }
  }




}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1500px) /* extra large windows*/ {
}
