

<section id="analysis">
  <div class="container">
    <div class="form-container">
      <form [formGroup]="filterForm" (ngSubmit)="submitFilterForm(filterForm)">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="column">Filter By:</label>
              <select class="form-control" formControlName="column" (change)="submitColumn($event)" id="column">
                <option value=""></option>
                <option [value]="column" *ngFor="let column of columns">{{column}}</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label ></label>
              <select class="form-control" formControlName="columnValue" id="columnValue">
                <option value=""></option>
                <option [value]="column" *ngFor="let column of columnValues">{{column}}</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <div class="button-container">
              <button class="btn btn-primary" [disabled]='filterForm.status=="INVALID"' type="submit">submit</button>
               <button class="btn btn-primary"[disabled]='!isDataFound'  (click)="downloadsites()">Excel Export</button>


            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</section>


<!-- <section id="selection">

  <div class="container">

    <div class="form-container">

      <form [formGroup]="statusForm" (ngSubmit)="submitStatusForm(statusForm)">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="choose">Choose Status: </label>
              <select class="form-control" formControlName="status" id="choose">
                <option value=""></option>
                <option value="in progress">in progress</option>
                <option value="done">done</option>
                <option value="waiting D6">Waiting D6</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <div class="button-container">
              <button class="btn btn-primary" [disabled]='statusForm.status=="INVALID"' type="submit">submit</button>
              <button class="btn btn-primary" [disabled]='statusForm.status=="INVALID"'
                (click)="downloadsites(statusForm)">download</button>


            </div>

          </div>
        </div>
      </form>


    </div>
  </div>

</section> -->

<section id="table-section">
  <div class="container">

    <div class="no-data-caption" *ngIf="!isDataFound">
      <p>No Data Found</p>
    </div>


    <div class="table-container table-responsive ">
      <table *ngIf="isDataFound" class=" table table-warning  table-bordered">
        <thead>
          <tr class=" table-danger align-middle text-center">
            <th scope="col">Site Code</th>
            <th scope="col">Site Name</th>
            <th scope="col">Subcontractor</th>
            <th scope="col">Requester</th>
            <th scope="col">Action</th>
            <th scope="col">Project </th>
            <th scope="col">Status</th>
            <th scope="col">Request Date</th>
            <th scope="col">Finish Date</th>
            <th scope="col">Materials</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let site of sites|paginate:config; let i=index" class="hambozo" [attr.data-index]="i"
            (click)="sendSiteId(site.id, $event,site.site_code) ">
            <td class=" text-center align-middle">{{site.code}}</td>
            <td class=" text-center align-middle">{{site.site_name}}</td>
            <td class=" text-center align-middle">{{site.subcontractor}}</td>
            <td class=" text-center align-middle">{{site.requester}}</td>
            <td class=" text-center align-middle">{{site.action}}</td>
            <td class=" text-center align-middle">{{site.project}}</td>
            <td class=" text-center align-middle">{{site.status}}</td>
            <td class=" text-center align-middle">{{site.request_date}}</td>
            <td class=" text-center align-middle">{{site.finish_date}}</td>
            <td class=" text-center align-middle">{{site.materials}}</td>
            <td class=" text-center align-middle">{{site.cost}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="isDataFound " class="pagination-container">
      <pagination-controls (pageChange)="pageChange($event) " class="pagination"></pagination-controls>
    </div>



  </div>
</section>

<section id="create-site" [hidden]="!isDataFound">
  <div class="container ">
    <div class="create-btn-cont ">

      <button class="btn btn-danger " (click)="goToCreateNew()">Create Modification</button>
      <button class="btn btn-primary " [disabled]="!isModificationClicked"
        (click)="goToUpdateModification()">Update</button>


    </div>

  </div>
</section>
