
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

#login {
  margin-top: 10em;

  .container {
    margin: auto;


    .form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      width: 50%;
      margin: auto;
      background-color: black;
      border: 3px solid #ff6600;
      padding: 40px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;

      .header {
        h3 {
          color: #ff6600;
          text-align: left;
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 5px;
        }
        p{
          color: #ff6600;

        }
      }

      .form-items {
        display: inline block;
        width: 100%;

        .form-group {
          margin-bottom: 10px;

        }
        .form-button {
            display: flex;
             justify-content: space-between;
             align-items: center;

             button{
               background-color: #ff6600;
               color: white;
             }
           }
      }
    }
  }
}



@media screen and (max-width: 575px) {
  #login {
    height: 100vh;

    .container {
      .form-holder{
        width: 100%;
        font-size: .75rem;
      }
    }
  }


}

@media (min-width: 576px) and (max-width: 767px) {
  #login {
    height: 100vh;

    .container {
      .form-holder{
        width: 100%;
        font-size: .75rem;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #login {
    height: 100vh;

    .container {
      .form-holder{
        width: 80%;
        font-size: .75rem;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1500px) /* extra large windows*/ {
}
