<section id="site_data">
    <div class="container">
        <div class="row">

            <div class="col-3">
                <div class="cascade-on">
                    <h3>Cascaded On:</h3>
                    <div class="nodal-container">
                        <p *ngIf="!isNodalFound">Not Cascaded Yet</p>
                        <div class="table-container">
                            <table *ngIf="isNodalFound">
                                <thead>
                                    <tr>
                                        <td>Site Code</td>
                                        <td>Site Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{nodal.nodal_code}}</td>
                                        <td>{{nodal.nodal_name}}</td>

                                    </tr>




                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-3">
                        <label for="site-code">Site-Code</label>
                        <input type="text" class="form-control" id="site-code" [value]="site.site_Code">
                    </div>
                    <div class="col-5">
                        <label for="site-name">Site-Name</label>
                        <input type="text" class="form-control" id="site-name" [value]="site.site_name">
                    </div>
                    <div class="col-4 pt-2">
                    </div>
                    <div class="col-3">
                        <label for="type">Site-Type</label>
                        <input type="text" class="form-control" id="type" [value]="site.site_type">


                    </div>
                    <div class="col-5">
                        <label for="BSC">BSC/RNC</label>
                        <input type="text" class="form-control" id="BSC" [value]="site.BSC_RNC">

                    </div>
                    <div class="col-4 pt-2">
                        <button class="btn btn-dark mt-4 " (click)="goToUpdateSite()">Update Site</button>

                    </div>
                    <div class="col-3">
                        <label for="category">Site-Category</label>
                        <input type="text" class="form-control" id="category" [value]="site.Site_category">
                    </div>
                    <div class="col-5">
                        <label for="severity">Site-Severity</label>
                        <input type="text" class="form-control" id="severity" [value]="site.severity">
                    </div>
                    <div class="col-4 ">
                        <button class="btn btn-danger mt-4 ">Delete Site</button>
                    </div>
                    <div class="col-3">
                        <label for="office">Office</label>
                        <input type="text" class="form-control" id="office" [value]="site.office">
                    </div>
                    <div class="col-5">
                        <label for="build-date">Build-Date</label>
                        <input type="text" class="form-control" id="build-date" [value]="site.build_date">
                    </div>
                    <div class="col-4 pt-2">
                        <button class="btn btn-danger mt-3" (click)="goToCreatSite()">Create Site</button>

                    </div>
                    <div class="col-3">
                        <label for="sharing">Sharing</label>
                        <input type="text" class="form-control" id="sharing" [value]="site.sharing">
                    </div>
                    <div class="col-5">
                        <label for="host">Host</label>
                        <input type="text" class="form-control" id="host" [value]="site.host">
                    </div>
                    <div class="col-4">
                        <button class="btn btn-secondary" (click)="goToSiteModifications()">Modificatios</button>

                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-12">
                        <div class="direct-cascades">
                            <h3>Direct Cascades:
                                <span *ngIf="isCascadesFound">{{cascadesCount}}</span>
                            </h3>
                            <div class="cascades-container">
                                <p *ngIf="!isCascadesFound">No Cascades</p>
                                <div class="table-container">
                                    <table *ngIf="isCascadesFound">
                                        <thead>
                                            <tr>
                                                <td>Site Code</td>
                                                <td>Site Name</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let nodal of nodals; let i=index " style="background-color: black;" (click)="goToSiteDetailsFromNodals(nodal.site_id)">
                                                <td *ngIf="isNodalsFound ">{{nodal.cascade_code}}</td>
                                                <td *ngIf="isNodalsFound ">{{nodal.cascade_name}}</td>
                                                <td *ngIf="isNodalsFound ">{{nodal.count_cascades}}</td>
                                            </tr>

                                            <tr *ngFor="let site of cascades; let i=index " (click)="goToSiteDetailsFromCascades(site.id)">
                                                <td>{{site.cascade_code}}</td>
                                                <td>{{site.cascade_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 ">
                        <button type="button " (click)="goToUpdate() " class="btn btn-primary mt-4 ">
                Update Cascades
              </button>

                    </div>
                </div>



















            </div>





        </div>

    </div>







</section>