
@import "../../../scss/variables";
#site_data {
    color: white;
    margin-top: 12em;
    .container {
        margin: auto;
        .all-data{
          width: 90%;
          margin: auto;
          .direct-cascades,
          .cascade-on {
              h3 {
                  color: #ff6600;
                  font-size: 1.5rem;
              }
              .cascades-container
             {

                  // background-color: burlywood;
                  .table-container {
                    .table{
                      background-color: burlywood;
                      tbody {
                        tr {
                            cursor: pointer;
                        }
                    }

                    }

                  }
              }
          }

          .all-cells{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .form-group{
             padding-right: 3rem;
            }
          }

        }

    }
}

#delete_notification,#indirect_notification {

  .container {
    margin: auto;
    .notification-body {

      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 9999999999999;
      background-color: rgba($color: #000000, $alpha: 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .notification-content {
        width: 50%;
         height: 80%;
         overflow-y: scroll;
        background-color: white;
        border: solid;
        border-radius: 10px;
        padding: 2rem 2rem;
        position: relative;
        .close {
          color: $mainColor;
          font-size: 2rem;
          position: absolute;
          top: 28px;
          right: 35px;
          cursor: pointer;
        }

        .notification-title {
          color: $mainColor;
          padding-top: 2em;

        }
        .notification-caption {
          color: $mainColor;
          padding-top: 1em;

        }
        .notification-footer{
          padding-top: 1em;
          border-top: 2px solid $mainColor;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .btn{
            display: inline block;
            margin-right: 1em;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 575px) {
  #site_data {
    margin-top: 8em;

    .container {

        .all-data{
          width: 80%;
          margin: auto;



        }

    }
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  #site_data {
    margin-top: 8em;

    .container {

        .all-data{
          width: 80%;
          margin: auto;



        }

    }
  }

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) and (max-width: 1500px) /* extra large windows*/ {
}
