// * {
// margin: 0;
// padding: 0;
// }
#site_data {
    color: white;
    margin-top: 5em;
    .container {
        margin: auto;
    }
}

#site_data {
    .direct-cascades,
    .cascade-on {
        h3 {
            color: #ff6600;
            font-size: 1.5rem;
        }
        .cascades-container,
        .nodal-container {
            height: 300px;
            background-color: burlywood;
            .table-container {
                tbody {
                    tr {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}