#table-section {
  margin-top: 200px;

  .container {
    margin: auto;

  .pagination-container{
    width: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    .pagination{
      padding-top: 3rem;
    }



  }

   }
}

#create-site {
  margin-top: 4rem;

  .container {
    margin: auto;
    .create-btn-cont {
      padding-bottom: 3rem;

      width: 50%;
      margin: auto;
      color: white;
      display: flex;
      justify-content:space-around;
      align-items: center;
    }
  }
}


@media screen and (max-width: 575px) {
  #table-section {



    .container {



      .pagination-container{
        width: 100%;
        margin: auto;

        // font-size: 0.2rem;



      }
    }
  }


#create-site {


  .container {

    .create-btn-cont {

      width: 100%;

    }
  }
}


}

@media (min-width: 576px) and (max-width: 767px) {

  #table-section {



    .container {



      .pagination-container{
        width: 100%;
        margin: auto;

        // font-size: 0.2rem;



      }
    }
  }


#create-site {


  .container {

    .create-btn-cont {

      width: 100%;

    }
  }
}
}
@media (min-width: 768px) and (max-width: 991px) {
  #table-section {



    .container {



      .pagination-container{
        width: 100%;
        margin: auto;

        // font-size: 0.2rem;



      }
    }
  }


#create-site {


  .container {

    .create-btn-cont {

      width: 100%;

    }
  }
}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1500px) /* extra large windows*/ {
}
