
#table-section{

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


.table-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  table {
      margin-bottom: 2em;
      thead {
          background-color: burlywood;
          tr {
              td {
                  text-align: center;
              }
          }
      }
      tbody {
          tr {
              background-color: cornsilk;
              border-bottom: 2px solid black;
              cursor: pointer;
              td {
                  padding: 0 2em;
              }
          }
      }
  }
}
}


}



#create-site{

  .container{
    margin: auto;
    .create-btn-cont{
      padding: 3rem 3rem;
      width: 50%;
      margin: auto;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }



}