
<div class="form-body">
  <div class="row">
      <div class="form-holder">
          <div class="form-content">
              <div class="form-items">
                  <h3>Register Today</h3>
                  <p>Fill in the data below.</p>
                  <form [formGroup]='resetForm' (ngSubmit)='submitResetForm(resetForm)' class="requires-validation" novalidate>

                      <div class="col-md-12">
                          <input class="form-control" type="email" formControlName='email' (keyup)="dissableemailNotifications()" placeholder="E-mail Address" required>
                           <div class="valid-feedback"  *ngIf="resetForm.get('email')?.errors!=null && resetForm.get('email')?.errors?.email">Email field is invalid!</div>
                           <div class="invalid-feedback"*ngIf="resetForm.get('email')?.errors!=null && resetForm.get('email')?.errors?.required &&  resetForm.get('email')?.touched">Email field cannot be blank!</div>
                           <div class="invalid-feedback " *ngIf="isError_email">{{error_email}}
                          </div>
                      </div>

                     <div class="col-md-12">
                        <input class="form-control" type="password" formControlName='password' (keyup)="dissablePassNotifications()" placeholder="Password" required>
                         <div class="valid-feedback"*ngIf="resetForm.get('password')?.errors!=null && resetForm.get('password')?.errors?.pattern">Password field is invalid!</div>
                         <div class="invalid-feedback"  *ngIf="resetForm.get('password')?.errors!=null &&
                         resetForm.get('password')?.errors?.required">Password field cannot be blank!</div>
                     </div>

                     <div class="col-md-12">
                      <input class="form-control" type="password" formControlName='password_confirmation' (keyup)=" dissableconfPassNotifications()" placeholder="Password-Confirmation" required>
                       <div class="valid-feedback" >Password field is invalid!</div>
                       <div class="invalid-feedback" *ngIf="resetForm.get('password')?.errors!=null &&
                     resetForm.get('password')?.errors?.required">Password Confirmation field cannot be blank!</div>
                     <div class=" alert-danger text-center font-weight-bolder alert  " *ngIf="isError_pass">{{error_pass}}
                    </div>
                  </div>

                      <div class="form-button mt-3">
                          <button id="submit" type="submit" [disabled]='resetForm.status=="INVALID"' class="btn btn-primary">Register</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

