
<!-- <div class="container mt-5 p-5"> -->
  <!-- <form [formGroup]="loginForm" class="mt-5" (ngSubmit)="submitform(loginForm)" enctype="multipart/form-data"> -->
    <!-- <div class="form-group mt-5"> -->
<!--  -->
      <!-- <input type="file" name="image" (change)="uploadimage($event)" id="image"> -->
<!--  -->
    <!-- </div> -->
    <!-- <div class="form-group mt-5"> -->
      <!-- <input type="text" formControlName="name"   id=""> -->
    <!-- </div> -->
<!--  -->
    <!-- <button type="submit" class="bt btn-danger">submit</button> -->
  <!-- </form> -->
<!--  -->
<!-- </div> -->
<!--  -->
<!--  -->



