                                                                .navbar {
                                                                    position: fixed;
                                                                    display: flex;
                                                                    background-color: #152733;
                                                                    justify-content: space-around;
                                                                    z-index: 33;
                                                                    width: 100%;
                                                                    top: 0;
                                                                    left: 0;
                                                                    .nav-link,
                                                                    .navbar-brand {
                                                                        color: white;
                                                                    }
                                                                    .navbar-brand {
                                                                        font-size: 1.5rem;
                                                                        font-weight: 800;
                                                                    }
                                                                    .collapse {
                                                                        display: flex;
                                                                        justify-content: center;
                                                                        .image_container {
                                                                            width: 50px;
                                                                            height: 50px;
                                                                            border-radius: 50%;
                                                                            background-color: burlywood;
                                                                            display: flex;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            font-size: 1rem;
                                                                            i {
                                                                                display: block;
                                                                            }
                                                                            img {
                                                                                display: block;
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                .ofcan-btn {
                                                                    display: none;
                                                                    color: white;
                                                                }

                                                                .form-group {
                                                                    background-color: transparent;
                                                                    width: 40%;
                                                                    position: relative;
                                                                    // display: flex;
                                                                    // justify-content: space-between;
                                                                    // align-items: center;
                                                                    .search {
                                                                        width: 100%;
                                                                        // height: 30px;
                                                                    }
                                                                    .searchBtn {
                                                                        position: absolute;
                                                                        width: 15%;
                                                                        margin: 0 !important;
                                                                        top: 0;
                                                                        right: 0;
                                                                        // height: 28px;
                                                                        text-align: center;
                                                                        background-color: green;
                                                                        // border: 3px solid transparent;
                                                                    }
                                                                }

                                                                .offcanvas {
                                                                    width: 20% !important;
                                                                    height: unset !important;
                                                                    .offcanvas-body {
                                                                        font-size: 1rem;
                                                                        background: #040b14;
                                                                        p {
                                                                            font-family: "Poppins", sans-serif;
                                                                            font-size: 1.1rem;
                                                                            font-weight: 300;
                                                                            line-height: 1.7em;
                                                                            color: #999;
                                                                        }
                                                                        .side-bar {
                                                                            padding-top: 2em;
                                                                            color: #fff;
                                                                            width: 100%;
                                                                            // height: 100vh;
                                                                            display: flex;
                                                                            flex-direction: column;
                                                                            align-items: center;
                                                                            justify-content: center;
                                                                            .image_container {
                                                                                width: 50px;
                                                                                height: 50px;
                                                                                border-radius: 50%;
                                                                                background-color: burlywood;
                                                                                display: flex;
                                                                                justify-content: center;
                                                                                align-items: center;
                                                                                font-size: 1rem;
                                                                                i {
                                                                                    display: block;
                                                                                }
                                                                                img {
                                                                                    display: block;
                                                                                }
                                                                            }
                                                                            .components {
                                                                                border-bottom: 1px solid #47748b;
                                                                            }
                                                                            .components,
                                                                            .component {
                                                                                padding: 20px 0;
                                                                                width: 100%;
                                                                                p {
                                                                                    color: #fff;
                                                                                    padding: 10px;
                                                                                    text-align: center;
                                                                                }
                                                                                .dropdown {
                                                                                    a {
                                                                                        color: black;
                                                                                    }
                                                                                    a:hover {
                                                                                        color: #7386d5;
                                                                                        background: #fff;
                                                                                    }
                                                                                }
                                                                                li {
                                                                                    a {
                                                                                        text-decoration: none;
                                                                                        text-align: center;
                                                                                        padding: 10px;
                                                                                        font-size: 1.1em;
                                                                                        display: block;
                                                                                        color: white;
                                                                                    }
                                                                                    a:hover {
                                                                                        color: #7386d5;
                                                                                        background: #fff;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                @media screen and (max-width: 575px) {
                                                                    .navbar {
                                                                        .ofcan-btn {
                                                                            display: inline-block;
                                                                        }
                                                                        .collapse {
                                                                            display: none;
                                                                        }
                                                                        .form-group {
                                                                            width: 50%;
                                                                            .searchBtn {
                                                                                width: 30%;
                                                                            }
                                                                        }
                                                                    }
                                                                    .offcanvas {
                                                                        width: 40% !important;
                                                                        .offcanvas-body {
                                                                            p {
                                                                                font-size: 1rem;
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                @media (min-width: 576px) and (max-width: 767px) {
                                                                    .navbar {
                                                                        .ofcan-btn {
                                                                            display: inline-block;
                                                                        }
                                                                        .collapse {
                                                                            display: none;
                                                                        }
                                                                        .form-group {
                                                                            width: 60%;
                                                                            .searchBtn {
                                                                                width: 30%;
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                @media (min-width: 768px) and (max-width: 991px) {
                                                                    .navbar {
                                                                        .ofcan-btn {
                                                                            display: inline-block;
                                                                        }
                                                                        .collapse {
                                                                            display: none;
                                                                        }
                                                                        .form-group {
                                                                            width: 70%;
                                                                            .searchBtn {
                                                                                width: 30%;
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                @media (min-width: 992px) and (max-width: 1199px) {
                                                                    .navbar {
                                                                        .collapse {
                                                                            justify-content: flex-end;
                                                                            width: 80%;
                                                                            .form-group {
                                                                                width: 50%
                                                                            }
                                                                        }
                                                                    }
                                                                }

                                                                @media (min-width: 1200px) and (max-width: 1500px)
                                                                /* extra large windows*/

                                                                {}