#user-data {
  margin-top: 200px;
  .container-xl {
    margin: auto;
    .table-container {

      .table {
        font-size: 0.75rem;
        thead {
          background-color: burlywood;
          tr {
            td {
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            background-color: cornsilk;
            border-bottom: 2px solid black;
            color: black;
            td {
              text-align: center;
            }
          }
        }
      }



      .form-container {
        color: white;
        input {
          color: black;
        }
      }
    }
  }
}
