<section id="cards">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card  mb-3">

                    <canvas baseChart [datasets]='BSCChartData' [labels]="BSCChartLabels" [options]="BSCChartOptions"
                        [legend]="BSCChartLegend" [type]="BSCChartType" [plugins]="chartPlugins">
                    </canvas>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card  mb-3">
                    <canvas baseChart [datasets]='RNCChartData' [labels]="RNCChartLabels" [options]="RNCChartOptions"
                        [legend]="RNCChartLegend" [type]="RNCChartType" [plugins]="chartPlugins">
                    </canvas>

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card  mb-3">
                    <canvas baseChart [datasets]='categoryChartData' [labels]="categoryChartLabels"
                    [plugins]="chartPlugins"   [options]="categoryChartOptions" [legend]="categoryChartLegend" [type]="categoryChartType">
                    </canvas>

                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card  mb-3">

                    <canvas baseChart [plugins]="chartPlugins" [datasets]='sites_severityChartData' [labels]="sites_severityChartLabels"
                        [options]="sites_severityChartOptions" [legend]="sites_severityChartLegend" [type]="sites_severityChartType">
                    </canvas> 
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card  mb-3">
    
                    <canvas baseChart [plugins]="chartPlugins" [datasets]='sites_typesChartData' [labels]="sites_typesChartLabels"
                    [options]="sites_typesChartOptions" [legend]="sites_typesChartLegend" [type]="sites_typesChartType">
                </canvas> 
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card  mb-3">
                    <canvas baseChart [plugins]="chartPlugins" [datasets]='officesChartData' [labels]="officesChartLabels"
                    [options]="officesChartOptions" [legend]="officesChartLegend" [type]="officesChartType">
                </canvas> 
                </div>
            </div>
            
        </div>
    </div>



</section>