#search-table {
  margin-top: 200px;

  .container {
    margin: auto;
    .No-data{
      width: 50%;
      margin: auto;

      p{
        text-align: center;
      }
    }

    .table-container {
      table {
        margin-bottom: 2em;
        thead {
          background-color: burlywood;
          tr {
            th {
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            background-color: cornsilk;
            border-bottom: 2px solid black;
            cursor: pointer;
            td {
              padding: 0.2rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
