<section id='new-site'>
    <div class="container">

        <div class="row ">
            <div class="col-3 mt-2 ">
                <label for="site-code ">Site-Code</label>
                <input type="text " class="form-control " [(ngModel)]="site.site_code" id="site-code ">
            </div>
            <div class="col-5 mt-2 ">
                <label for="site-name ">Site-Name</label>
                <input type="text " class="form-control " id="site-name " [(ngModel)]="site.site_name ">
            </div>


        </div>

        <div *ngIf="!isModificationFound" class="no-modification">
            <p class=" mt-5">No Modifications</p>

            <button class="btn btn-danger" (click)="goToNewMod()">Create New Modification</button>

        </div>


        <div class="table-container">
            <table *ngIf="isModificationFound">
                <thead>
                    <tr>
                        <td>Subcontractor</td>
                        <td>Requester</td>
                        <td>Action</td>
                        <td>Project</td>
                        <td>status </td>
                        <td>Request date</td>
                        <td>Finish date</td>
                        <td>Materials</td>
                        <td>Cost</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let site of data; let i=index" class="hambozo"  [attr.data-index]="i" (mouseover)="shadeElement($event)" (click)="sendSiteId(site.id)">
                        <td>{{site.subcontractor}}</td>
                        <td>{{site.requester}}</td>
                        <td>{{site.action}}
                        </td>
                        <td>{{site.project}}</td>
                        <td>{{site.status}}</td>
                        <td>{{site.request_date}}</td>
                        <td>{{site.finish_date}}</td>
                        <td>{{site.materials}}</td>
                        <td>{{site.cost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="delete-update" *ngIf="isModificationFound">
            <button class="btn btn-danger" [disabled]="!isModificationClicked" (click)="showNotification()"> Delete</button>
            <button class="btn btn-primary" [disabled]="!isModificationClicked"(click)="goToUpdateModification()"> Update</button>
        </div>
        <div class="New-mod-btn">
          <button class="btn btn-danger" (click)="goToNewMod()">Create New Modification</button>
        </div>



    </div>

</section>


<section id='notification'[hidden]='!isNotificationShown'>
  <div class="container">
    <div class="notification-body" >
      <div class="notification-content">
        <div class="close" (click)="closeNotification()"><i class="fas fa-times" ></i></div>
        <div class="notification-title">
          <h3>Delete Modification</h3>
        </div>

        <div class="notification-caption">
          <p>Do you want to delete this Modification?</p>
        </div>
        <div class="notification-footer">
          <button class="btn btn-danger" (click)="closeNotification()">No</button>
          <button class=" btn btn-primary" (click)="deleteModification()">Yes</button>
        </div>


      </div>

    </div>

  </div>

</section>