    @import "../../../scss/variables";
    #new-site {
        margin-top: 8rem;
        color: white;
        .container {
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .no-modification {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 50%;
                margin: auto;
            }
            .delete-update {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            d .table-container {
                margin-top: 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                table {
                    font-size: 0.8rem;
                    width: 100%;
                    thead {
                        background-color: burlywood;
                        tr {
                            td {
                                text-align: center;
                            }
                        }
                    }
                    tbody {
                        tr {
                            background-color: cornsilk;
                            border-bottom: 2px solid black;
                            color: black;
                            td {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }