#create-nur {
  margin-top: 8rem;
  .container {
    margin: auto;
    .siteName-code {
      padding-bottom: 2rem;
      .form-group {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input {
          text-align: center;
          color: red;
        }
      }
    }
  }
}
#table
{
  .container-xl
  {
    .table-container {
      margin-top: 2rem;

      table {
        font-size: 0.75rem;
        thead {
          background-color: burlywood;
          tr {
            td {
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            background-color: cornsilk;
            border-bottom: 2px solid black;
            color: black;
            td {
              text-align: center;
            }
          }
        }
      }
    }

  }
}


#navigation-export {
  margin-top: 2rem;
  .container {
    margin: auto;
    .buttun-container {
      margin: auto;
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
