<section id="site_data">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-6">
            <label for="site-code">Site-Code</label>
            <input type="text" class="form-control" id="site-code" [value]="site[0].site_Code" >
          </div>
          <div class="col-6">
            <label for="site-name">Site-Name</label>
            <input type="text" class="form-control"  id="site-name" [value]="site[0].site_name">
          </div>
          <div class="col-6">
            <label for="BSC">BSC/RNC</label>
            <input type="text" class="form-control" id="BSC" [value]="site[0].BSC_RNC" >
          </div>
          <div class="col-6">
            <label for="type">Site-Type</label>
            <input type="text" class="form-control" id="type" [value]="site[0].site_type" >
          </div>
          <div class="col-6">
            <label for="category">Site-Category</label>
            <input type="text" class="form-control" id="category" [value]="site[0].Site_category">
          </div>
          <div class="col-6">
            <label for="severity">Site-Severity</label>
            <input type="text" class="form-control" id="severity" [value]="site[0].severity" >
          </div>
          <div class="col-6">
            <label for="office">Office</label>
            <input type="text" class="form-control" id="office" [value]="site[0].office">
          </div>
          <div class="col-6">
            <label for="build-date">Build-Date</label>
            <input type="text" class="form-control" id="build-date"[value]="site[0].build_date">
          </div>
          <div class="col-6">
            <label for="sharing">Sharing</label>
            <input type="text" class="form-control" id="sharing" [value]="site[0].sharing" >
          </div>
          <div class="col-6">
            <label for="host">Host</label>
            <input type="text" class="form-control" id="host" [value]="site[0].host" >
          </div>

        </div>
      </div>

      <div class="col-md-8">

      </div>



    </div>

  </div>




</section>














