@import "../../../scss/variables";
#new-site {
  margin-top: 8rem;
  color: white;
  .container{
    margin: auto;
    .form-container
    {
      // margin: auto;
      // width: 70%;
      .buttons-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

      }
      .all-cells{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .form-group{
         padding-right: 3rem;
        }
      }

    }
  }
}

#notification {
  .container {
    margin: auto;
    .notification-body {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 9999999999999;
      background-color: rgba($color: #000000, $alpha: 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .notification-content {
        width: 50%;
        height: 30%;
        background-color: white;
        border: solid;
        border-radius: 10px;
        padding: 2rem 2rem;
        position: relative;
        .close {
          color: $mainColor;
          font-size: 2rem;
          position: absolute;
          top: 28px;
          right: 35px;
          cursor: pointer;
        }

        .notification-title {
          color: $mainColor;
          padding-top: 2em;

        }
        .notification-caption {
          color: $mainColor;
          padding-top: 1em;
        }
        .notification-footer{
          padding-top: 1em;
          border-top: 2px solid $mainColor;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .btn{
            display: inline block;
            margin-right: 1em;
          }
        }
      }
    }
  }
}
