
<section id='indirect_notification'>
  <div class="container">
    <div class="notification-body ">
      <div class="notification-content animate__animated animate__jello">
        <div class="close" (click)="close()"><i class="fas fa-times"></i></div>
        <div class="notification-title">
          <h3>Error<i class="fa-solid fa-triangle-exclamation "></i></h3>
        </div>

        <div class="notification-caption">

          {{errorMessage}}


        </div>


      </div>

    </div>

  </div>

</section>

