<section id='new-site'>
  <div class="container">

    <div class="form-container">
      <form [formGroup]="createNurForm" (ngSubmit)="submitCreateNurForm(createNurForm)">
        <div class="row">
          <div class="col-6">

            <div class="form-group">
              <label for="week">Week:</label>
              <input type="number" class=" form-control" formControlName="week">

            </div>

          </div>
          <div class="col-6">

            <div class="form-group">
              <label for="technology">Technology:</label>
            <select formControlName="technology" class="form-control" id="technology">
              <option value=""></option>
              <option value="2G">2G</option>
              <option value="3G">3G</option>
              <option value="4G">4G</option>
            </select>

            </div>

          </div>



        </div>

        <div class="row">
          <div class="col-6">

            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="token">

            <div class="form-group">
              <label for="nur">NUR File:</label>
              <input type="file" class=" form-control" enctype="multipart/form-data" (change)="selectNurFile($event)" formControlName="file">

            </div>

          </div>

          <div class="col-6">
            <label for="year">Select Year:</label>
           <select class=" form-control" formControlName="year">
             <option *ngFor="let year of years" [value]="year">{{year}}</option>
           </select>
          </div>


        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">

              <button class="btn btn-danger mt-3" type="submit" [disabled]='createNurForm.status=="INVALID"'>Add NUR</button>
            </div>

          </div>
        </div>




      </form>


    </div>

  </div>

</section>
<!--
<section id='notification'[hidden]='isSiteNotInserted'>
  <div class="container">
    <div class="notification-body" >
      <div class="notification-content">
        <div class="close" (click)="closeNotification()"><i class="fas fa-times" ></i></div>
        <div class="notification-title">
          <h3>Add Cascades</h3>
        </div>

        <div class="notification-caption">
          <p>Do you want to add Cascades for this new site?</p>
        </div>
        <div class="notification-footer">
          <button class="btn btn-danger"(click)="closeNotification()">No</button>
          <button class=" btn btn-primary" (click)="goToUpdateCascades()">Yes</button>
        </div>


      </div>

    </div>

  </div>

</section> -->