<section id="statestics">
  <div class="container">
    <div class="statestics-container">
      <div class="row">
        <div class="col-12 ">
          <div class="title-basics">
            <div class="title">
              <div class="dashboard-caption">
                <h3 class="h1">The Dashboard <span>{{timeSpan}}</span></h3>
                <h6>{{technology}}</h6>
              </div>


            </div>
            <div class="basics">
              <div class="NUR">
                <div class="NUR-img">

                  <i class="fa-solid fa-star"></i>
                  <div class="NUR-caption">
                    <p>NUR</p>
                    <p>{{NUR}}</p>

                  </div>
                </div>
              </div>
              <div class="tickets">
                <div class="tickets-img">
                  <i class="fa-solid fa-ticket"></i>
                  <div class="tickets-caption">
                    <p>Tickets</p>
                    <p>{{tickets}}</p>

                  </div>
                </div>
              </div>
              <div class="duration">
                <div class="duration-img">
                  <i class="fa-solid fa-clock"></i>
                </div>
                <div class="duration-caption">
                  <p>Avg.ticket.Dur</p>
                  <p>{{avgTicketDur}} <span>hours</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="BSC">
            <div class="BSC-title">
              <p>BSC Analysis</p>
            </div>


            <div class="chart">
              <canvas baseChart [datasets]='BSCChartData' [labels]="BSCChartLabels" [options]="BSCChartOptions"
                [legend]="BSCChartLegend" [type]="BSCChartType"></canvas>

            </div>
            <div class="gen-caption">
              <p>Top Sites NUR</p>
            </div>
            <div class="table-container table-responsive ">
              <table class=" table table-warning table-hover table-bordered">
                <thead>
                  <tr class=" table-primary align-middle text-center">
                    <th class=" table-danger"></th>
                    <th class=" table-danger"></th>
                    <th colspan="3">Top Sites NUR</th>


                  </tr>
                  <tr class=" table-danger align-middle text-center">
                    <th scope="col">BSC</th>
                    <th scope="col">Avg.tickets Dur</th>
                    <th scope="col">Site Code</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">NUR</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let BSC of BSCs" (click)="goToShowSiteNUR(BSC.topSiteNur.problem_site_code)">
                    <td class=" text-center align-middle">{{BSC.name}}</td>
                    <td class=" text-center align-middle">{{BSC.ticketDur}}</td>
                    <td class=" text-center align-middle">{{BSC.topSiteNur.problem_site_code}}</td>
                    <td class=" text-center align-middle">{{BSC.topSiteNur.problem_site_name}}</td>
                    <td class=" text-center align-middle">{{BSC.topSiteNur.nur}}</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="subsystem">
            <div class="sub-title">
              <p>Subsystem Analysis</p>
            </div>
            <div class="chart">
              <canvas baseChart [datasets]='subsystemChartData' [labels]="subsystemChartLabels"
                [options]="subsystemChartOptions" [legend]="subsystemChartLegend" [type]="subsystemChartType"
                [plugins]="chartPlugins">
              </canvas>

            </div>
            <div class="gen-caption">
              <p>Most Repeated Sites</p>
            </div>

            <div class="table-container table-responsive ">
              <table class=" table table-warning table-hover table-bordered">
                <thead>

                  <tr class=" table-danger align-middle text-center">
                    <th scope="col">Site Name</th>
                    <th scope="col">Count of Tickets</th>
                    <th scope="col">Sum NUR</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let site of repeatedSites" (click)="goToShowSiteNUR(site.site_code)">
                    <td class=" text-center align-middle">{{site.site_name}}</td>
                    <td class=" text-center align-middle">{{site.count_tickets}}</td>
                    <td class=" text-center align-middle">{{site.sum_nur}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="gen-caption">
              <p>Top Sites NUR</p>
            </div>
            <div class="table-container table-responsive ">
              <table class=" table table-warning table-hover table-bordered">
                <thead>
                  <tr class=" table-danger align-middle text-center">
                    <th scope="col">Site Name</th>
                    <!-- <th scope="col">Count of Tickets</th> -->
                    <th scope="col">Sum NUR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let site of topSitesNUR" (click)="goToShowSiteNUR(site.site_code)">
                    <td class=" text-center align-middle">{{site.site_name}}</td>
                    <!-- <td class=" text-center align-middle">{{site.No.tickets}}</td> -->
                    <td class=" text-center align-middle">{{site.sum_nur}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf="isGenStatestics" class="col-12 col-md-6">
          <div class="generator">
            <div class="NUR">
              <div class="NUR-img">
                <i class="fa-solid fa-star"></i>
                <div class="NUR-caption">
                  <p>NUR</p>
                  <p>{{totalGenTicketsNUR}}</p>
                </div>
              </div>
            </div>
            <div class="tickets">
              <div class="tickets-img">
                <i class="fa-solid fa-ticket"></i>
                <div class="tickets-caption">
                  <p>Tickets</p>
                  <p>{{totalGenTicketsCount}}</p>
                </div>
              </div>
            </div>
            <div class="gen-title">
              <p>Generator Analysis</p>
            </div>
            <canvas baseChart [datasets]='genChartData' [labels]="genChartLabels" [options]="genChartOptions"
              [legend]="genChartLegend" [type]="genChartType" [plugins]="chartPlugins">
            </canvas>

            <div class="gen-caption">
              <p>Top Sites NUR</p>
            </div>

            <div class="table-container table-responsive ">
              <table class=" table table-warning table-hover table-bordered">
                <thead>
                  <tr class=" table-danger align-middle text-center">
                    <th scope="col">Vendor</th>
                    <th scope="col">Site Code</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">NUR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let site of topETGenTicket" (click)="goToShowSiteNUR(site.problem_site_code)">
                    <td class=" text-center align-middle">ET</td>
                    <td class=" text-center align-middle">{{site.problem_site_code}}</td>
                    <td class=" text-center align-middle">{{site.problem_site_name}}</td>
                    <td class=" text-center align-middle">{{site.nur}}</td>
                  </tr>
                  <tr *ngFor="let site of topVFGenTicket" (click)="goToShowSiteNUR(site.problem_site_code)">
                    <td class=" text-center align-middle">VF</td>
                    <td class=" text-center align-middle">{{site.problem_site_code}}</td>
                    <td class=" text-center align-middle">{{site.problem_site_name}}</td>
                    <td class=" text-center align-middle">{{site.nur}}</td>
                  </tr>

                  <tr *ngFor=" let site of topOGGenTicket" (click)="goToShowSiteNUR(site.problem_site_code)">
                    <td class=" text-center align-middle">OG</td>
                    <td class=" text-center align-middle">{{site.problem_site_code}}</td>
                    <td class=" text-center align-middle">{{site.problem_site_name}}</td>
                    <td class=" text-center align-middle">{{site.nur}}</td>
                  </tr>

                  <tr *ngFor="let site of topRentGenTicket" (click)="goToShowSiteNUR(site.problem_site_code)">
                    <td class=" text-center align-middle">Rented</td>
                    <td class=" text-center align-middle">{{site.problem_site_code}}</td>
                    <td class=" text-center align-middle">{{site.problem_site_name}}</td>
                    <td class=" text-center align-middle">{{site.nur}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>

        <div class="col-12 col-md-6">
          <div class="vip">
            <div class="vip-title">
              <p>Vip Sites NUR</p>
            </div>
            <div class="table-container table-responsive ">
              <table class=" table table-warning table-hover table-bordered">
                <thead>
                  <tr class=" table-danger align-middle text-center">

                    <th scope="col">Site Code</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">NUR</th>
                    <th scope="col">Site Category</th>
                    <th scope="col">Tickets Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let site of VIPs" (click)="goToShowSiteNUR(site.site_code)">
                    <td class=" text-center align-middle">{{site.site_code}}</td>
                    <td class=" text-center align-middle">{{site.site_name}}</td>
                    <td class=" text-center align-middle">{{site.NUR}}</td>
                    <td class=" text-center align-middle">{{site.site_category}}</td>
                    <td class=" text-center align-middle">{{site.count_tickets}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div *ngIf="isMicrowaveNur" class="col-12 col-md-6">
          <div class="microwave" >

            <div class="NUR">
              <div class="NUR-img">
                <i class="fa-solid fa-star"></i>
                <div class="NUR-caption">
                  <p>NUR</p>
                  <p>{{microwaveNUR}}</p>
                </div>
              </div>
            </div>
            <div class="tickets">
              <div class="tickets-img">
                <i class="fa-solid fa-ticket"></i>
                <div class="tickets-caption">
                  <p>Tickets</p>
                  <p>{{microwaveTicketsCount}}</p>
                </div>
              </div>
            </div>
            <div class="duration">
              <div class="duration-img">
                <i class="fa-solid fa-clock"></i>
              </div>
              <div class="duration-caption">
                <p>Avg.ticket.Dur</p>
                <p>{{avgTicketDur}} <span>hours</span></p>
              </div>
            </div>
            <div class="gen-title">
              <p> Microwave Analysis</p>
            </div>
            <div class="gen-caption">
              <p>Top Sites NUR</p>
            </div>

            <div class="table-container table-responsive ">
              <table class=" table table-warning table-hover table-bordered">
                <thead>
                  <tr class=" table-danger align-middle text-center">

                    <th scope="col">Site Code</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">NUR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let site of microwaveTopSitesNUR" (click)="goToShowSiteNUR(site.problem_site_code)">

                    <td class=" text-center align-middle">{{site.problem_site_code}}</td>
                    <td class=" text-center align-middle">{{site.problem_site_name}}</td>
                    <td class=" text-center align-middle">{{site.nur}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section id="navigation-export">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="buttun-container">
          <app-back-button-component></app-back-button-component>
          <button class="btn btn-danger" [disabled]="!isAdmin" (click)="downloadNur()">Excel Export</button>


        </div>
      </div>
    </div>
  </div>
</section>
<app-token-expire-notification [errorMessage]="error" [hidden]='!isTokenExpired'
  (closeNotification)="closeTokenExpirationNotification($event)"></app-token-expire-notification>

