@import "../../../scss/variables";
#new-site {
  margin-top: 8rem;
  color: white;
  .container
  {
    margin: auto;
    .form-container{
      width: 70%;
      margin: auto;

      .all-cells{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .form-group{
         padding-right: 3rem;
        }
      }

    }
  }
}
#buttons-sec
{
  margin-top: 8rem;
  .create-btn-cont{
    padding-bottom: 3rem;


    margin: auto;
    color: white;
    display: flex;
    // justify-content: space-evenly;
     align-items: center;
    button {
      font-size: 0.75rem;
      i{
        padding: 0;
      }

    }

  }

}

.display-flex{
  display: flex;
}
.display-none{
  display: none;
}