@import "../../../scss/variables";
#new-site {
  margin-top: 8rem;
  color: white;
  .container
  {
    margin: auto;
    .form-container{
      width: 70%;
      margin: auto;

      .all-cells{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .form-group{
         padding-right: 3rem;
        }
      }

    }
  }
}