<section id="statestics">
    <div class="container">
        <div class="statestics-container">
            <div class="row">
                <div class="col-12 ">
                    <div class="title">
                        <div class="dashboard-caption">
                            <h1>The Dashboard <span>{{timeSpan}}</span></h1>
                        </div>
                        <div class="NUR">
                            <div class="NUR-img">
                            
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="microwave">
                        <div class="microwave-img">
                            <img src="../../../../assets/CableFree-FOR2-3.webp" alt="">

                        </div>

                        <div class="microwave-nur">
                            <p>NUR:{{microwaveNUR}}</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


<p style="color: white;">show-nur works!{{NUR}}</p>