<section id='new-site'>
    <div class="container">

        <form [formGroup]="createModForm" (ngSubmit)="submitCreateModificationForm(createModForm)">
            <div class="row">
                <div class="col-3 mt-2">
                    <label for="site-code">Site-Code</label>
                    <input type="text" class="form-control" [(ngModel)]="site_code" formControlName="site_code" id="site-code">
                </div>
                <div class="col-5 mt-2">
                    <label for="site-name">Site-Name</label>
                    <input type="text" class="form-control" formControlName="site_name" id="site-name" [(ngModel)]="site_name">
                </div>
                <div class="col-4 pt-2 mt-2">
                </div>
                <div class="col-3 mt-2">
                    <label for="subcontractor">Subcontractor</label>
                    <select formControlName="subcontractor" id="subcontractor" class=" d-block">
          <option value=""></option>
          <option value="Micro">GP</option>
          <option value="Outdoor">Alandick/option>
          <option value="Shelter">MBV</option>
        </select>
                </div>
                <div class="col-5 mt-2">
                    <label for="requester">Requester</label>
                    <select id="requester" formControlName="requester" class=" d-block">
          <option value=""></option>
          <option value="BADRASHEN-EXCH">BADRASHEN-EXCH</option>
          <option value="HADAYEK-HELWAN-HUA">HADAYEK-HELWAN-HUA</option>
          <option value="HELWAN-EXCH">HELWAN-EXCH</option>
          <option value="MAADI2-EXCH">MAADI2-EXCH</option>
          <option value="Mokattam EXCH">Mokattam EXCH</option>
          <option value="Obour_RNC25">Obour_RNC25</option>
          <option value="Obour_RNC26">Obour_RNC26</option>
          <option value="Obour_RNC2">Obour_RNC2</option>
          <option value="Obour_RNC3">Obour_RNC3</option>
          <option value="October_RNC9">October_RNC9</option>
          <option value="October_RNC">October_RNC</option>
          <option value="October_RNC33">October_RNC33</option>
          <option value="RODA-EXCH-HUA">RODA-EXCH-HUA</option>
          <option value="Sawah-2">Sawah-2</option>
          <option value="ZAMALEK-EXCH">ZAMALEK-EXCH</option>
        </select>


                </div>
                <div class="col-4 pt-2 mt-2">

                </div>
                <div class="col-3 mt-2">
                    <label for="action">Action</label>
                    <select formControlName="action" id="action" class=" d-block">
          <option value=""></option>
          <option value="BSC">BSC</option>
          <option value="LDN">LDN</option>
          <option value="NDL">NDL</option>
          <option value="VIP">VIP</option>
          <option value="Normal">Normal</option>
          <option value="VIP + NDL">VIP + NDL</option>
        </select>
                </div>
                <div class="col-5 mt-2">
                    <label for="project">Project</label>
                    <select formControlName="project" id="project" class=" d-block">
          <option value=""></option>
          <option value="Bronze">Bronze</option>
          <option value="Golden">Golden</option>
          <option value="Silver">Silver</option>

        </select>
                </div>
                <div class="col-4 mt-2 ">

                </div>
                <div class="col-3">
                    <label for="status">Status</label>
                    <select formControlName="status" id="office" class=" d-block">
          <option value="in progress" >in progress</option>
          <option value="Done">Done</option>

        </select>
                </div>
                <div class="col-5 mt-2">
                    <label for="request-date">Request Date</label>
                    <input type="text" bsDatepicker [bsConfig]="datePickerConfig" formControlName="request_date" placement="top" [(bsValue)]="datepicker" class="form-control" id="build-date">

                </div>
                <div class="col-4 pt-2 mt-2">

                </div>
                <div class="col-3 mt-2">
                    <label for="sharing">Sharing</label>
                    <select formControlName="sharing" id="sharing" class=" d-block">
          <option value="No" selected> No</option>
          <option value="Yes"> Yes </option>
        </select>
                </div>
                <div class="col-5 mt-2">
                    <label for="host">Host</label>
                    <select formControlName="host" class=" d-block" id="host">
          <option value=''selected></option>
          <option value="OR">OR</option>
          <option value="VF">VF</option>
          <option value="ET">ET</option>
          <option value="WE">WE</option>
        </select>

                </div>
                <div class="col-4">
                </div>
            </div>
            <div class=" d-flex justify-content-lg-start align-items-center">
                <button class="btn btn-danger mt-3" type="submit" [disabled]='createModForm.status=="INVALID"'>Create</button>


            </div>



        </form>

    </div>

</section>